{% extends "base.html" %}

{% block content %}
    <h2>Autores</h2>
    <a href="{{ url_for('novo_autor') }}" class="btn-add">Adicionar Novo Autor</a>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Nacionalidade</th>
                <th>Data Nasc.</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for autor in autores %}
            <tr>
                <td>{{ autor.ID_autor }}</td>
                <td>{{ autor.Nome_autor }}</td>
                <td>{{ autor.Nacionalidade }}</td>
                <td>{{ autor.Data_nascimento.strftime('%d/%m/%Y') if autor.Data_nascimento else 'N/D' }}</td>
                <td class="actions">
                    <a href="{{ url_for('editar_autor', id=autor.ID_autor) }}">Editar</a>
                    <form action="{{ url_for('excluir_autor', id=autor.ID_autor) }}" method="POST">
                        <button type="submit" onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">Nenhum autor encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}