{% extends "base.html" %}

{% block content %}
    <h2>Editoras</h2>
    <a href="{{ url_for('nova_editora') }}" class="btn-add">Adicionar Nova Editora</a>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for editora in editoras %}
            <tr>
                <td>{{ editora.ID_editora }}</td>
                <td>{{ editora.Nome_editora }}</td>
                <td>{{ editora.Endereco_editora }}</td>
                <td class="actions">
                    <a href="{{ url_for('editar_editora', id=editora.ID_editora) }}">Editar</a>
                    <form action="{{ url_for('excluir_editora', id=editora.ID_editora) }}" method="POST">
                        <button type="submit" onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">Nenhuma editora encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}