{% extends "base.html" %}

{% block content %}
    <h1>Bem-vindo ao Sistema de Gestão da Biblioteca</h1>
    <p>Este sistema permite gerenciar todas as tabelas do banco de dados <strong>db_trabalho3B</strong>.</p>
    <p>Use o menu de navegação acima para:</p>
    <ul>
        <li>Listar</li>
        <li>Inserir</li>
        <li>Editar</li>
        <li>Excluir</li>
    </ul>
    <p>... dados das tabelas de Autores, Gêneros, Editoras, Usuários, Livros e Empréstimos.</p>
{% endblock %}